@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

/* body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: grey;
  background: linear-gradient(to right, #37292b, #064870);
} */

.header {
  min-height: 100vh;
  /* color: white; */
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  text-align: center;
}

.profile-pic {
  height: 18rem;
  width: 18rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid black;
}

.stats {
  display: flex;
  font-size: 4vh;
}

.stats .col-4 {
  margin: 0 auto;
  width: 10rem;
  text-align: center;
}

.heading {
  margin: 0 auto;
  font-weight: 400;
  font-size: 4rem;
  /* background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-size: 100%;
  background-repeat: repeat;

  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.sub {
	margin: 0 auto;
	font-weight: 400;
	font-size: 1.5rem;
	/* background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	background-size: 100%;
	background-repeat: repeat;

	background-clip: text;

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent; */
	}

.emptySpace {
	height: 3vh;
}

.btn {
	margin: 0 auto;
	line-height: 50px;
	height: 7vh;
	text-align: center;
	width: 35vw;
	cursor: pointer;
	/* background: grey;
    background: linear-gradient(to left, #37292b, #064870); */
  }

.btn-one {
	/* color: rgb(223, 222, 126); */
	transition: all 0.3s;
  }
  .btn-one span {
	transition: all 0.3s;
  }
  .btn-one::before {
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	/* border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5); */
	transform: scale(0.1, 1);
  }
  .btn-one:hover span {
	letter-spacing: 2px;
  }
  .btn-one:hover::before {
	opacity: 1; 
	transform: scale(1, 1); 
  }
  .btn-one::after {
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	/* background-color: rgba(255,255,255,0.1); */
  }
  .btn-one:hover::after {
	opacity: 0; 
	transform: scale(0.1, 1);
  }