*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--hue: 200;
	--saturation: 50%;
	--foreground-color: hsl(var(--hue), var(--saturation), 75%);
	--background-color: hsl(var(--hue), var(--saturation), 20%);

}

body {
	margin: 0;
	background-color: var(--background-color);
	height: 100%;
	overflow: hidden;
}

.paddle {
	--position: 50;

	position: absolute;
	background-color: var(--foreground-color);
	top: calc(var(--position) * 1vh);
	transform: translate(-50%);
	width: 1vh;
	height: 10vh;
}

.paddle.left {
	left: 1vw;
}

.paddle.right {
	right: 1vw;
}

.ball {
	--x: 50;
	--y: 50;

	position: absolute;
	background-color: var(--foreground-color);
	left: calc(var(--x) * 1vw);
	top: calc(var(--y) * 1vh);
	border-radius: 50%;
	transform: translate(-50%, -50%);
	width: 2.5vh;
	height:2.5vh;
}

.score {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 7vh;
	color: var(--foreground-color);
}

.score > * {
	flex-grow: 1;
	flex-basis: 0;
	padding: 0 2vh;
	margin: 1vh 0;
	opacity: 0.5;
}

.score > :first-child {
	text-align: right;
	border-right: .5vh solid var(--foreground-color);
}

.buttons {
	position: absolute;
	visibility: hidden;
	left: 40vw;
}

.restart {
	color:rgb(0, 0, 0);
    margin:0 auto;
    text-align:center;
    font-weight:bold;
    background: var(--foreground-color);
    width: 20vw;
    height: 20vw;
	font-size: 3vw;
	border-radius: 20%;
    display: block;
    padding-top:6px;
    cursor:pointer;
}

.restart:hover {
	background-color:var(--background-color);
}
.restart:active {
	position:relative;
	top:1px;
}

.exit {

	color:rgb(0, 0, 0);
    margin:0 auto;
    text-align:center;
    font-size:5vw;
    font-weight:bold;
    background: var(--foreground-color);
    width: 20vw;
    height: 20vw;
    display: block;
    padding-top:6px;
	border-radius: 20%;
    cursor:pointer;
}

.exit:hover {
	background-color:var(--background-color);
}
.exit:active {
	position:relative;
	top:1px;
}
